<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson1</title>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <ul>
            <li v-for="(item, index) in users" :key="index">
                <span style="color: coral">{{item.name}}</span>
                <span style="color: red">{{item.age}}</span>
                <span style="color: aqua">{{item.six}}</span>
                <button type="button" @click="removeUser(index)">删除</button>
            </li>
        </ul>
        <div><input type="text" placeholder="姓名" v-model="user.name"></div>
        <div><input type="text" placeholder="年龄" v-model="user.age"></div>
        <div><input type="text" placeholder="性别" v-model="user.six"></div>
        <div><input type="button" value="提交" @click="addUser"></div>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>